#navigation #nav-menu {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 1rem;
  margin-top: 3rem;
}
#navigation #nav-menu li {
  list-style-type: none;
}
#navigation #nav-menu li a {
  text-decoration: none;
  writing-mode: vertical-lr;
  rotate: 180deg;
  font-size: 2.5rem;
  background-color: #230241;
  padding: 1rem 0.5rem;
  border-radius: 0 1rem 1rem 0;
  color: #FFF5FD;
  border-top: 0.1rem solid #FFF5FD;
  border-bottom: 0.1rem solid #FFF5FD;
  border-right: 0.1rem solid #FFF5FD;
}
#navigation #nav-menu li a img {
  width: 2.5rem;
  border-radius: 50%;
  rotate: 180deg;
}
#navigation #nav-menu li .nav-item-focused {
  background-color: #FFF5FD;
  color: #230241;
  border-left: 0.1rem solid #FFF5FD;
  transition: 3ms;
}


body {
  margin: 0;
  display: flex;
  width: 98%;
  margin-left: 2%;
  height: 100vh;
  background-color: #230241;
  overflow-y: hidden; /* Hide vertical scrollbar */
}
body #section-container {
  width: 100%;
  overflow-y: auto;
  scroll-behavior: smooth;
}
body #section-container article {
  height: 100vh;
  width: inherit;
}
body #section-container #home-section,
body #section-container #portfolio-section,
body #section-container #about-section,
body #section-container #contact-section {
  background-color: #FFF5FD;
}
body #section-container #home-section {
  border-top-left-radius: 1rem;
  padding: 2rem 0;
  display: flex;
}
body #section-container #home-section .hero {
  display: flex;
  flex-direction: column;
  width: min(80%, 800px);
  height: 100%;
  align-items: center;
  margin: 0 auto;
  gap: 2rem;
}
body #section-container #home-section .hero .hero-image {
  width: min(100%, 350px);
  border-radius: 50%;
  border: 0.5rem solid #230241;
  background: rgb(35, 2, 65);
  background: linear-gradient(196deg, rgb(35, 2, 65) 23%, rgb(51, 222, 222) 39%, rgb(172, 242, 10) 45%, rgb(253, 0, 144) 54%, rgb(35, 2, 65) 69%);
}
body #section-container #home-section .hero .hero-content h1 {
  font-size: 2rem;
}
body #section-container #home-section .hero .hero-content .hero-buttons button {
  display: inline-block;
  border: none;
  position: relative;
  padding: 0.5rem 0.75rem;
  border-radius: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  transition: all 0.3s;
  overflow: hidden;
  z-index: 1;
}
body #section-container #home-section .hero .hero-content .hero-buttons button:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  background-color: #33DEDE;
  z-index: -2;
}
body #section-container #home-section .hero .hero-content .hero-buttons button:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  border-radius: 1rem;
  transition: all 0.3s;
  border: 1px solid #33DEDE;
  background-color: #230241;
  z-index: -1;
}
body #section-container #home-section .hero .hero-content .hero-buttons button:hover {
  color: #FFF5FD;
}
body #section-container #home-section .hero .hero-content .hero-buttons button:hover:before {
  width: 100%;
}

@media screen and (min-width: 992px) {
  .hero {
    flex-direction: row !important;
  }
}/*# sourceMappingURL=style.css.map */